In [ ]:
!pip install faker

In [ ]:
import sqlite3
from faker import Faker
fake = Faker()
names = [fake.name().split() for i in range(100)]
names = [name for name in names if len(name) == 2]

In [ ]:
connection = sqlite3.connect('database.db')

In [ ]:
table = 'CREATE TABLE people (id integer primary key, name TEXT, surname TEXT)'
cursor = connection.cursor()
cursor.execute(table)
connection.commit()

In [ ]:
import pandas as pd
con = sqlite3.connect('database.db')
insert_query = 'INSERT INTO people(name, surname) VALUES (?,?)'
cursor = con.cursor()
for name in names:
  cursor.execute(insert_query, name)
  con.commit()

In [ ]:
filtered_data = pd.read_sql_query("SELECT * FROM people",con)
filtered_data
#or
#selected_query = "SELECT * FROM people"
#for i in cursor.execute(selected_query):
#  print(i)