In [ ]:
!pip install faker

In [ ]:
import sqlite3
from faker import Faker
fake = Faker()
names = [fake.name().split() for i in range(100)]
names = [name for name in names if len(name) == 2]

In [ ]:
connection = sqlite3.connect('database.db')

In [ ]:
table = 'CREATE TABLE people (id integer primary key, name TEXT, surname TEXT)'
cursor = connection.cursor()
cursor.execute(table)
connection.commit()

In [ ]:
import pandas as pd
con = sqlite3.connect('database.db')
insert_query = 'INSERT INTO people(name, surname) VALUES (?,?)'
cursor = con.cursor()
for name in names:
  cursor.execute(insert_query, name)
  con.commit()

In [ ]:
filtered_data = pd.read_sql_query("SELECT * FROM people",con)
filtered_data
#or
#selected_query = "SELECT * FROM people"
#for i in cursor.execute(selected_query):
#  print(i)

In [30]:
query = 'SELECT name,surname FROM people ORDER BY name DESC'
for result in cursor.execute(query):
  print(result)

('Willie', 'Jones')
('William', 'Spears')
('William', 'Cox')
('Valerie', 'Martinez')
('Tyler', 'Waters')
('Tyler', 'Lopez')
('Trevor', 'White')
('Timothy', 'Thomas')
('Tammy', 'Fields')
('Tammy', 'Huber')
('Stephen', 'Williams')
('Stephanie', 'Coleman')
('Sarah', 'Perez')
('Sandra', 'Thomas')
('Samuel', 'Shelton')
('Ryan', 'Kline')
('Robert', 'Graham')
('Robert', 'Bass')
('Paul', 'Green')
('Nicole', 'Brown')
('Nicholas', 'Conner')
('Monica', 'Holt')
('Michelle', 'Lewis')
('Michael', 'Vega')
('Michael', 'Hodge')
('Melissa', 'Bell')
('Melissa', 'Rubio')
('Melinda', 'Dudley')
('Melanie', 'Harrison')
('Matthew', 'Valenzuela')
('Matthew', 'Lewis')
('Mason', 'Martin')
('Mary', 'Garcia')
('Margaret', 'Carr')
('Logan', 'Lucas')
('Lisa', 'Bishop')
('Linda', 'Hunt')
('Lauren', 'Harris')
('Lauren', 'Silva')
('Laura', 'Reed')
('Kevin', 'Nichols')
('Kevin', 'Warner')
('Kevin', 'King')
('Kerri', 'Stanley')
('Kenneth', 'Petersen')
('Kelly', 'Phillips')
('Keith', 'Bautista')
('Karen', 'Greer')
('Justin', 'Townsend')
('Julie', 'Roy')
('Joshua', 'Williams')
('Jon', 'Schroeder')
('Joel', 'Young')
('Jo', 'Campos')
('Jill', 'Guerra')
('Jessica', 'Bryant')
('Jeremy', 'Fuller')
('Jennifer', 'Harris')
('Jamie', 'Stewart')
('Jaime', 'Lopez')
('Jacob', 'Smith')
('Ivan', 'Rogers')
('Ian', 'Hanson')
('Henry', 'Schultz')
('Henry', 'Foley')
('Heather', 'Martinez')
('Erin', 'Wong')
('Emily', 'Lynn')
('Elizabeth', 'Thompson')
('Diana', 'Schmidt')
('Dennis', 'Allen')
('Debra', 'Lee')
('Debra', 'Harris')
('Deborah', 'Velasquez')
('Dawn', 'Nguyen')
('Dawn', 'Mcclain')
('David', 'Bell')
('David', 'Vaughn')
('David', 'Russell')
('Daniel', 'Johnson')
('Daniel', 'Moore')
('Cynthia', 'Livingston')
('Cynthia', 'Patton')
('Charles', 'Cohen')
('Catherine', 'Reed')
('Carly', 'Murphy')
('Brian', 'Daniels')
('Beth', 'Chavez')
('April', 'Richardson')
('Anna', 'Martin')
('Andrew', 'Hammond')
('Amy', 'Ferguson')
('Allen', 'Wolf')
('Alexander', 'Bryan')
('Alan', 'Brown')
('Adam', 'Wagner')

In [33]:
query = 'SELECT name,surname FROM people WHERE name="Kevin"'
for result in cursor.execute(query):
  print(f"First name: {result[0]}, Lastname: {result[1]}")

First name: Kevin, Lastname: Nichols
First name: Kevin, Lastname: Warner
First name: Kevin, Lastname: King